<form
  class="form"
  (ngSubmit)="doSave()"
  [formGroup]="form"
  #ngForm="ngForm"
  *ngIf="form"
>
  <mat-form-field
    floatLabel="always"
    appearance="outline"
    *ngIf="isEditing"
  >
    <mat-label>{{ fields.id.label }}</mat-label>
    <input matInput [value]="record.id" [disabled]="true" />
  </mat-form-field>

    <app-product-form-field
      [control]="form.get(fields.product.name)"
      [label]="fields.product.label"
      [required]="fields.product.required"
      [fetchFn]="fields.product.fetchFn"
      [mapperFn]="fields.product.mapperFn"
      [showCreate]="!modal"
      [submitted]="ngForm.submitted"
      mode="single"
    ></app-product-form-field>

    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>{{ fields.expiryDate.label }}</mat-label>
      <input
        matInput
        type="date"
        [formControlName]="fields.expiryDate.name"
        [required]="fields.expiryDate.required"
      />

      <mat-error>
        <app-validations
          [control]="form.get(fields.expiryDate.name)"
          [label]="fields.expiryDate.label"
        ></app-validations>
      </mat-error>
    </mat-form-field>

  <div
    class="form-buttons"
    [class.form-buttons-modal]="modal"
  >
    <button
      mat-raised-button
      [disabled]="saveLoading"
      color="primary"
      type="submit"
    >
      <mat-icon
        inline
        fontSet="far"
        fontIcon="fa-save"
      ></mat-icon
      >&#160;
      <app-i18n key="common.save"></app-i18n>
    </button>
    <button
      mat-flat-button
      [disabled]="saveLoading"
      (click)="doReset()"
      type="button"
    >
      <mat-icon
        inline
        fontSet="fas"
        fontIcon="fa-undo"
      ></mat-icon
      >&#160;
      <app-i18n key="common.reset"></app-i18n>
    </button>

    <button
      mat-flat-button
      [disabled]="saveLoading"
      type="button"
      (click)="cancel.emit()"
    >
      <mat-icon
        inline
        fontSet="fas"
        fontIcon="fa-times"
      ></mat-icon
      >&#160;
      <app-i18n key="common.cancel"></app-i18n>
    </button>
  </div>
</form>
