<form
  class="form"
  (ngSubmit)="doSave()"
  [formGroup]="form"
  #ngForm="ngForm"
  *ngIf="form"
>
  <mat-form-field
    floatLabel="always"
    appearance="outline"
    *ngIf="isEditing"
  >
    <mat-label>{{ fields.id.label }}</mat-label>
    <input matInput [value]="record.id" [disabled]="true" />
  </mat-form-field>

    <div class="app-form-field app-form-field__boolean">
      <mat-slide-toggle
        color="accent"
        [formControlName]="fields.shiftIsDay.name"
      >
        {{ fields.shiftIsDay.label }}
      </mat-slide-toggle>

      <div class="app-form-error">
        <app-validations
          [control]="form.get(fields.shiftIsDay.name)"
          [label]="fields.shiftIsDay.label"
          [ngForm]="ngForm"
        ></app-validations>
      </div>
    </div>

    <app-department-form-field
      [control]="form.get(fields.departments.name)"
      [label]="fields.departments.label"
      [required]="fields.departments.required"
      [fetchFn]="fields.departments.fetchFn"
      [mapperFn]="fields.departments.mapperFn"
      [showCreate]="!modal"
      [submitted]="ngForm.submitted"
      mode="multiple"
    ></app-department-form-field>

  <div
    class="form-buttons"
    [class.form-buttons-modal]="modal"
  >
    <button
      mat-raised-button
      [disabled]="saveLoading"
      color="primary"
      type="submit"
    >
      <mat-icon
        inline
        fontSet="far"
        fontIcon="fa-save"
      ></mat-icon
      >&#160;
      <app-i18n key="common.save"></app-i18n>
    </button>
    <button
      mat-flat-button
      [disabled]="saveLoading"
      (click)="doReset()"
      type="button"
    >
      <mat-icon
        inline
        fontSet="fas"
        fontIcon="fa-undo"
      ></mat-icon
      >&#160;
      <app-i18n key="common.reset"></app-i18n>
    </button>

    <button
      mat-flat-button
      [disabled]="saveLoading"
      type="button"
      (click)="cancel.emit()"
    >
      <mat-icon
        inline
        fontSet="fas"
        fontIcon="fa-times"
      ></mat-icon
      >&#160;
      <app-i18n key="common.cancel"></app-i18n>
    </button>
  </div>
</form>
